.contact-form label {
    margin-bottom: 10px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Adjust the textarea height */
.contact-form textarea {
    height: 150px;  /* Set a specific height for the textarea */
    padding-top: 10px; /* Adjust top padding to align the text */
}

